$color-black: #000;
$secondary: #04173e;
$dark-gray: #282828;
$yellow: #bb7b1a;
$dark-white: rgba(
    $color: white,
    $alpha: 0.4,
);
$lightWight: #f7f7f7;
$primary: #05a580;
$light-white: #f3f3f3;
$secondary: #04173e;
$gray: #383838;
$warning: #bb7b1a;
$white: #fff;
$off-white: #ebebeb;
$light-gray: #fbfbfb;
$light-yellow: #fffaf1;
$table-header-color: #ededed;
$red-color: #993969;
$second-gray: #cdcdcd;
$gradient-yellow: linear-gradient(to bottom, #ffb548, #ffc84e);
$light-primary: rgba(143, 255, 229, 0.4);